<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bgamq.utils.dao.TSystemConfigMapper" >
  <resultMap id="BaseResultMap" type="com.bgamq.utils.entity.TSystemConfig" >
    <id column="uid" property="uid" jdbcType="VARCHAR" />
    <result column="qi_niu_access_key" property="qiNiuAccessKey" jdbcType="VARCHAR" />
    <result column="qi_niu_secret_key" property="qiNiuSecretKey" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="email_user_name" property="emailUserName" jdbcType="VARCHAR" />
    <result column="email_password" property="emailPassword" jdbcType="VARCHAR" />
    <result column="smtp_address" property="smtpAddress" jdbcType="VARCHAR" />
    <result column="smtp_port" property="smtpPort" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="BIT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="qi_niu_bucket" property="qiNiuBucket" jdbcType="VARCHAR" />
    <result column="qi_niu_area" property="qiNiuArea" jdbcType="VARCHAR" />
    <result column="upload_qi_niu" property="uploadQiNiu" jdbcType="VARCHAR" />
    <result column="upload_local" property="uploadLocal" jdbcType="VARCHAR" />
    <result column="picture_priority" property="picturePriority" jdbcType="VARCHAR" />
    <result column="qi_niu_picture_base_url" property="qiNiuPictureBaseUrl" jdbcType="VARCHAR" />
    <result column="local_picture_base_url" property="localPictureBaseUrl" jdbcType="VARCHAR" />
    <result column="start_email_notification" property="startEmailNotification" jdbcType="VARCHAR" />
    <result column="is_del" property="isDel" jdbcType="BIT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    uid, qi_niu_access_key, qi_niu_secret_key, email, email_user_name, email_password, 
    smtp_address, smtp_port, status, create_time, update_time, qi_niu_bucket, qi_niu_area, 
    upload_qi_niu, upload_local, picture_priority, qi_niu_picture_base_url, local_picture_base_url, 
    start_email_notification, is_del
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.bgamq.utils.entity.TSystemConfigExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_system_config
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_system_config
    where uid = #{uid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_system_config
    where uid = #{uid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.bgamq.utils.entity.TSystemConfigExample" >
    delete from t_system_config
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.bgamq.utils.entity.TSystemConfig" >
    insert into t_system_config (uid, qi_niu_access_key, qi_niu_secret_key, 
      email, email_user_name, email_password, 
      smtp_address, smtp_port, status, 
      create_time, update_time, qi_niu_bucket, 
      qi_niu_area, upload_qi_niu, upload_local, 
      picture_priority, qi_niu_picture_base_url, local_picture_base_url, 
      start_email_notification, is_del)
    values (#{uid,jdbcType=VARCHAR}, #{qiNiuAccessKey,jdbcType=VARCHAR}, #{qiNiuSecretKey,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{emailUserName,jdbcType=VARCHAR}, #{emailPassword,jdbcType=VARCHAR}, 
      #{smtpAddress,jdbcType=VARCHAR}, #{smtpPort,jdbcType=VARCHAR}, #{status,jdbcType=BIT}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{qiNiuBucket,jdbcType=VARCHAR}, 
      #{qiNiuArea,jdbcType=VARCHAR}, #{uploadQiNiu,jdbcType=VARCHAR}, #{uploadLocal,jdbcType=VARCHAR}, 
      #{picturePriority,jdbcType=VARCHAR}, #{qiNiuPictureBaseUrl,jdbcType=VARCHAR}, #{localPictureBaseUrl,jdbcType=VARCHAR}, 
      #{startEmailNotification,jdbcType=VARCHAR}, #{isDel,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.bgamq.utils.entity.TSystemConfig" >
    insert into t_system_config
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        uid,
      </if>
      <if test="qiNiuAccessKey != null" >
        qi_niu_access_key,
      </if>
      <if test="qiNiuSecretKey != null" >
        qi_niu_secret_key,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="emailUserName != null" >
        email_user_name,
      </if>
      <if test="emailPassword != null" >
        email_password,
      </if>
      <if test="smtpAddress != null" >
        smtp_address,
      </if>
      <if test="smtpPort != null" >
        smtp_port,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="qiNiuBucket != null" >
        qi_niu_bucket,
      </if>
      <if test="qiNiuArea != null" >
        qi_niu_area,
      </if>
      <if test="uploadQiNiu != null" >
        upload_qi_niu,
      </if>
      <if test="uploadLocal != null" >
        upload_local,
      </if>
      <if test="picturePriority != null" >
        picture_priority,
      </if>
      <if test="qiNiuPictureBaseUrl != null" >
        qi_niu_picture_base_url,
      </if>
      <if test="localPictureBaseUrl != null" >
        local_picture_base_url,
      </if>
      <if test="startEmailNotification != null" >
        start_email_notification,
      </if>
      <if test="isDel != null" >
        is_del,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        #{uid,jdbcType=VARCHAR},
      </if>
      <if test="qiNiuAccessKey != null" >
        #{qiNiuAccessKey,jdbcType=VARCHAR},
      </if>
      <if test="qiNiuSecretKey != null" >
        #{qiNiuSecretKey,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="emailUserName != null" >
        #{emailUserName,jdbcType=VARCHAR},
      </if>
      <if test="emailPassword != null" >
        #{emailPassword,jdbcType=VARCHAR},
      </if>
      <if test="smtpAddress != null" >
        #{smtpAddress,jdbcType=VARCHAR},
      </if>
      <if test="smtpPort != null" >
        #{smtpPort,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=BIT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="qiNiuBucket != null" >
        #{qiNiuBucket,jdbcType=VARCHAR},
      </if>
      <if test="qiNiuArea != null" >
        #{qiNiuArea,jdbcType=VARCHAR},
      </if>
      <if test="uploadQiNiu != null" >
        #{uploadQiNiu,jdbcType=VARCHAR},
      </if>
      <if test="uploadLocal != null" >
        #{uploadLocal,jdbcType=VARCHAR},
      </if>
      <if test="picturePriority != null" >
        #{picturePriority,jdbcType=VARCHAR},
      </if>
      <if test="qiNiuPictureBaseUrl != null" >
        #{qiNiuPictureBaseUrl,jdbcType=VARCHAR},
      </if>
      <if test="localPictureBaseUrl != null" >
        #{localPictureBaseUrl,jdbcType=VARCHAR},
      </if>
      <if test="startEmailNotification != null" >
        #{startEmailNotification,jdbcType=VARCHAR},
      </if>
      <if test="isDel != null" >
        #{isDel,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.bgamq.utils.entity.TSystemConfigExample" resultType="java.lang.Integer" >
    select count(*) from t_system_config
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_system_config
    <set >
      <if test="record.uid != null" >
        uid = #{record.uid,jdbcType=VARCHAR},
      </if>
      <if test="record.qiNiuAccessKey != null" >
        qi_niu_access_key = #{record.qiNiuAccessKey,jdbcType=VARCHAR},
      </if>
      <if test="record.qiNiuSecretKey != null" >
        qi_niu_secret_key = #{record.qiNiuSecretKey,jdbcType=VARCHAR},
      </if>
      <if test="record.email != null" >
        email = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.emailUserName != null" >
        email_user_name = #{record.emailUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.emailPassword != null" >
        email_password = #{record.emailPassword,jdbcType=VARCHAR},
      </if>
      <if test="record.smtpAddress != null" >
        smtp_address = #{record.smtpAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.smtpPort != null" >
        smtp_port = #{record.smtpPort,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=BIT},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.qiNiuBucket != null" >
        qi_niu_bucket = #{record.qiNiuBucket,jdbcType=VARCHAR},
      </if>
      <if test="record.qiNiuArea != null" >
        qi_niu_area = #{record.qiNiuArea,jdbcType=VARCHAR},
      </if>
      <if test="record.uploadQiNiu != null" >
        upload_qi_niu = #{record.uploadQiNiu,jdbcType=VARCHAR},
      </if>
      <if test="record.uploadLocal != null" >
        upload_local = #{record.uploadLocal,jdbcType=VARCHAR},
      </if>
      <if test="record.picturePriority != null" >
        picture_priority = #{record.picturePriority,jdbcType=VARCHAR},
      </if>
      <if test="record.qiNiuPictureBaseUrl != null" >
        qi_niu_picture_base_url = #{record.qiNiuPictureBaseUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.localPictureBaseUrl != null" >
        local_picture_base_url = #{record.localPictureBaseUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.startEmailNotification != null" >
        start_email_notification = #{record.startEmailNotification,jdbcType=VARCHAR},
      </if>
      <if test="record.isDel != null" >
        is_del = #{record.isDel,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_system_config
    set uid = #{record.uid,jdbcType=VARCHAR},
      qi_niu_access_key = #{record.qiNiuAccessKey,jdbcType=VARCHAR},
      qi_niu_secret_key = #{record.qiNiuSecretKey,jdbcType=VARCHAR},
      email = #{record.email,jdbcType=VARCHAR},
      email_user_name = #{record.emailUserName,jdbcType=VARCHAR},
      email_password = #{record.emailPassword,jdbcType=VARCHAR},
      smtp_address = #{record.smtpAddress,jdbcType=VARCHAR},
      smtp_port = #{record.smtpPort,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=BIT},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      qi_niu_bucket = #{record.qiNiuBucket,jdbcType=VARCHAR},
      qi_niu_area = #{record.qiNiuArea,jdbcType=VARCHAR},
      upload_qi_niu = #{record.uploadQiNiu,jdbcType=VARCHAR},
      upload_local = #{record.uploadLocal,jdbcType=VARCHAR},
      picture_priority = #{record.picturePriority,jdbcType=VARCHAR},
      qi_niu_picture_base_url = #{record.qiNiuPictureBaseUrl,jdbcType=VARCHAR},
      local_picture_base_url = #{record.localPictureBaseUrl,jdbcType=VARCHAR},
      start_email_notification = #{record.startEmailNotification,jdbcType=VARCHAR},
      is_del = #{record.isDel,jdbcType=BIT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.bgamq.utils.entity.TSystemConfig" >
    update t_system_config
    <set >
      <if test="qiNiuAccessKey != null" >
        qi_niu_access_key = #{qiNiuAccessKey,jdbcType=VARCHAR},
      </if>
      <if test="qiNiuSecretKey != null" >
        qi_niu_secret_key = #{qiNiuSecretKey,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="emailUserName != null" >
        email_user_name = #{emailUserName,jdbcType=VARCHAR},
      </if>
      <if test="emailPassword != null" >
        email_password = #{emailPassword,jdbcType=VARCHAR},
      </if>
      <if test="smtpAddress != null" >
        smtp_address = #{smtpAddress,jdbcType=VARCHAR},
      </if>
      <if test="smtpPort != null" >
        smtp_port = #{smtpPort,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=BIT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="qiNiuBucket != null" >
        qi_niu_bucket = #{qiNiuBucket,jdbcType=VARCHAR},
      </if>
      <if test="qiNiuArea != null" >
        qi_niu_area = #{qiNiuArea,jdbcType=VARCHAR},
      </if>
      <if test="uploadQiNiu != null" >
        upload_qi_niu = #{uploadQiNiu,jdbcType=VARCHAR},
      </if>
      <if test="uploadLocal != null" >
        upload_local = #{uploadLocal,jdbcType=VARCHAR},
      </if>
      <if test="picturePriority != null" >
        picture_priority = #{picturePriority,jdbcType=VARCHAR},
      </if>
      <if test="qiNiuPictureBaseUrl != null" >
        qi_niu_picture_base_url = #{qiNiuPictureBaseUrl,jdbcType=VARCHAR},
      </if>
      <if test="localPictureBaseUrl != null" >
        local_picture_base_url = #{localPictureBaseUrl,jdbcType=VARCHAR},
      </if>
      <if test="startEmailNotification != null" >
        start_email_notification = #{startEmailNotification,jdbcType=VARCHAR},
      </if>
      <if test="isDel != null" >
        is_del = #{isDel,jdbcType=BIT},
      </if>
    </set>
    where uid = #{uid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bgamq.utils.entity.TSystemConfig" >
    update t_system_config
    set qi_niu_access_key = #{qiNiuAccessKey,jdbcType=VARCHAR},
      qi_niu_secret_key = #{qiNiuSecretKey,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      email_user_name = #{emailUserName,jdbcType=VARCHAR},
      email_password = #{emailPassword,jdbcType=VARCHAR},
      smtp_address = #{smtpAddress,jdbcType=VARCHAR},
      smtp_port = #{smtpPort,jdbcType=VARCHAR},
      status = #{status,jdbcType=BIT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      qi_niu_bucket = #{qiNiuBucket,jdbcType=VARCHAR},
      qi_niu_area = #{qiNiuArea,jdbcType=VARCHAR},
      upload_qi_niu = #{uploadQiNiu,jdbcType=VARCHAR},
      upload_local = #{uploadLocal,jdbcType=VARCHAR},
      picture_priority = #{picturePriority,jdbcType=VARCHAR},
      qi_niu_picture_base_url = #{qiNiuPictureBaseUrl,jdbcType=VARCHAR},
      local_picture_base_url = #{localPictureBaseUrl,jdbcType=VARCHAR},
      start_email_notification = #{startEmailNotification,jdbcType=VARCHAR},
      is_del = #{isDel,jdbcType=BIT}
    where uid = #{uid,jdbcType=VARCHAR}
  </update>
</mapper>