server:
  port: 8080

spring:
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    driver-class-name: com.mysql.jdbc.Driver
    url: jdbc:mysql://127.0.0.1:3306/bgm_20200512?useUnicode=true&characterEncoding=UTF-8&useSSL=false
    username: root
    password: root



mybatis-plus:
  mapper-locations: classpath:/mapper/*.xml
